telethon===1.1.1
requests==2.18.4
gtts==2.0.1
urbandict==0.5
gsearch==1.6.0
google_images_download==2.3.0
googletrans==2.3.0
wikipedia==1.4.0
rivescript==1.14.9
antispam==0.0.10
iso-639==0.4.5
speedtest-cli==2.0.2